---
import fs from 'fs';

import type { Props } from '@astrojs/starlight/props';

const imageFiles = fs.readdirSync("./public/banners");
---

<div id="banner-img">a</div>

<script define:vars={{imageFiles}}>
  document.addEventListener('DOMContentLoaded', () => {
    const bannerImage = document.querySelector("#banner-img");
    const randomIndex = Math.floor(Math.random() * imageFiles.length);
    const randomImage = `/banners/${imageFiles[randomIndex]}`;
    
    bannerImage.style.backgroundImage = `url(${randomImage})`;
  });
</script>

